option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_create_directories:
    command: |
      mkdir -p logs
      mkdir -p migrations
      mkdir -p temp_uploads
      mkdir -p resources
      chmod 755 logs
      chmod 755 migrations
      chmod 755 temp_uploads
      chmod 755 resources
  02_upgrade_pip:
    command: |
      pip install --upgrade pip
      pip install --upgrade setuptools
  03_install_dependencies:
    command: |
      pip install -r requirements.txt
