Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 5
      DBInstanceClass: db.t3.micro
      DBName: aitutor
      Engine: postgres
      EngineVersion: 13.8
      MasterUsername: 
        Ref: RDSUsername
      MasterUserPassword: 
        Ref: RDSPassword
      MultiAZ: false
      StorageType: gp2
      VPCSecurityGroups:
        - Fn::GetAtt: [DBEC2SecurityGroup, GroupId]

  DBEC2SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Open database for access
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: 
            Fn::GetAtt: [AWSEBSecurityGroup, GroupId]

option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URI: 
      Fn::Join: 
        - ""
        - - "postgresql://"
          - Ref: RDSUsername
          - ":"
          - Ref: RDSPassword
          - "@"
          - Fn::GetAtt: [AWSEBRDSDatabase, Endpoint.Address]
          - ":"
          - Fn::GetAtt: [AWSEBRDSDatabase, Endpoint.Port]
          - "/"
          - Ref: RDSDatabase
    RDS_HOSTNAME: 
      Fn::GetAtt: [AWSEBRDSDatabase, Endpoint.Address]
    RDS_PORT: 
      Fn::GetAtt: [AWSEBRDSDatabase, Endpoint.Port]
    RDS_DB_NAME: 
      Ref: RDSDatabase
    RDS_USERNAME: 
      Ref: RDSUsername
    RDS_PASSWORD: 
      Ref: RDSPassword

Parameters:
  RDSUsername:
    Type: String
    Default: aitutor
    Description: Username for RDS database
    NoEcho: false
    AllowedPattern: "[a-zA-Z][a-zA-Z0-9]*"
    ConstraintDescription: must begin with a letter and contain only alphanumeric characters.

  RDSPassword:
    Type: String
    Default: AiTutorPassword
    Description: Password for RDS database
    NoEcho: true
    AllowedPattern: "[a-zA-Z0-9]*"
    ConstraintDescription: must contain only alphanumeric characters.

  RDSDatabase:
    Type: String
    Default: aitutor
    Description: Database name
    NoEcho: false
    AllowedPattern: "[a-zA-Z][a-zA-Z0-9]*"
    ConstraintDescription: must begin with a letter and contain only alphanumeric characters.
